.main{
width: 100%;
  background: #adce;
  display : flex;
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
 .left
{
  background: #adce;
  width: 20%;
  text-align: center;
   /* position: fixed; */
}
img{
  width: 83px;
  border-radius: 80%;
}
.right{
  background: #cdaeff;
  width: 60%;
  padding: .5em;
   /* position: relative; */
  margin-left: 21
  /* padding: 1em; */
}
@media (min-device-width:320px) and
(max-device-width:480px){
  .main{
    width: 100%;
  }
  .left{
    width: 98%;
    position: absolute;
    margin-bottom: 0%;
    display: flex;
   }
   .left1,
   .left2{
     margin: auto;
   }

  .right{
    width: 100%;
    margin-left: 0%;
    margin-top: 30em;
  }
}
}
